# Dependencies
node_modules/
dist/
.npm

# Environment
.env
*.env

# Docker
.dockerignore

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
